<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
      }

      th, td {
        text-align: left;
        padding: 12px;
      }

      th {
        background-color: #89CFF0;
        color: #fff;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
</head>

<body>
    <header>
        <h1>My first Website</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <!--Content Area add content here-->
        <a href="https://placeholder.com"><img src="../static/img/images.jfif" width="600" height="400" class="center"></a>
        <table>
            <tr>
                <td colspan="2">Staff Names</td>
            </tr>
            <tr>
                <td>First</td>
                <td>Last</td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Costales</td>
            </tr>
            <tr>
                <td>Christopher </td>
                <td>Delli Santi</td>
            </tr>
            <tr>
                <td>Michael </td>
                <td>Geraldi</td>
            </tr>
        </table>
    </section>
    <footer> &copy; My Website </footer>
</body>

</html>